@import './global.css';

  .hide{
    display: none;
  }
  
  .show{
    display: flex;
  }
  
  .card{
    list-style: none;
    }
  
  img {border-radius: 20px;
    align-self: center;
    box-shadow: 0px 0px 15px #000000;
  }
  
  ul {
    font-family: 'Karla', sans-serif;
    font-weight: bolder;
    color:#e7e0db;
    max-width: 20rem;
    align-items: center;
    font-size: 1.2rem;
    padding-left: 0;
    margin: auto;
    } 
  
  dt {
    display:flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 20px;
   }
  
  dl {
    display: flex;
    flex-direction: column;
    font-size: 0.99rem;
    
  }

  li {
    background-color: #526e2dff;
    color: #e7e0db;
    display: flex;
    padding: 10px;
    box-shadow: 2px 2px 5px 10px #526e2dff;
    margin: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    }
   